
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

.buzzer {
    display: block;
    width: 100%;
    height: 30vh;
    border: none;
    border-radius: 5vh;
    color: #ffffff;
    font-weight: 900;
    padding: 2px 2px;
    font-size: 150px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5vh;
}

.box { 
    border-radius: 5vh !important;
    margin: auto;
 } 

 .fullscreen {
    height: 85vh !important;
    width: 100% !important;
}

.red {
    background-color: #db1a4d !important;
}

.blue {
    background-color: #1867c2 !important;
}


.green{
    background-color: #21a938 !important;
}


.yellow {
    background-color: #edcd15 !important;
}

h1 {
    font-weight: bold;
    color: rgb(171, 171, 171);
    font-size: 100px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 5vh;
}

h2 {
    font-weight: bold;
    color: rgb(60, 60, 60);
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 5vh;
}

h3 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 120px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
}

