<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
        integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1 class="mb-60 mt-60">{{ title }}</h1>

    <section class="section mb-60">
        <div class="container">
            <div class="row">
                {% for team in teams %}
                <div class="col col-sm-12 col-md-6 text-center">
                    <div class="content">
                        <div>
                            <span class="icon" id="{{ team }} icon"></span>
                        </div>
                        <div class="h-100 rounded grey">
                            <div class="rounded {{ team }} box" id="{{ team }}">
                                <h4>{{ team|upper}}</h4>
                            </div>
                            <h5 class="mt-30">Points</h5>
                            <h2 id="{{ team }} points">-</h2>
                            <h5 class="mt-30">Penalty Timer</h5>
                            <h2 id="{{ team }} timer">-</h2>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"
        integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            const source = new EventSource("/live-data");
            const count = parseInt('{{ count }}');
            const teams = JSON.parse('{{ teams|tojson }}');

            var cols = document.getElementsByClassName('col');
            [].forEach.call(cols, function (col) {
                if (count == 4) {
                    col.classList.add("col-lg-3");
                } else if (count == 3) {
                    col.classList.add("col-lg-4");
                } else {
                    col.classList.add("col-lg-6");
                }
            });

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);

                for (name of teams) {
                    document.getElementById(name + " points").innerHTML = data[name].points;
                    if (data[name].timer > 0) {
                        document.getElementById(name + " timer").innerHTML = data[name].timer.toFixed(1) + " s";
                        document.getElementById(name).classList.add("disabled");
                        document.getElementById(name + " icon").innerHTML = '&#9203;';
                    } else {
                        document.getElementById(name + " timer").innerHTML = "-"
                        document.getElementById(name).classList.remove("disabled");
                        if (data[name].focus) {
                            document.getElementById(name + " icon").innerHTML = '&#11088;';
                        }
                        else if (data[name].buzzed) {
                            document.getElementById(name + " icon").innerHTML = '&#128587;';
                        } else {
                            document.getElementById(name + " icon").innerHTML = '';
                        }
                    }
                }

            }
        });
    </script>
</body>

</html>