<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Music Quiz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
        integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <section class="section">
        <div class="container text-center">
            <div class="row justify-content-center mt-60 mb-60">
                <h1>Choose your team</h1>
            </div>
            <div class="row mb-60">
                <a class="btn red rounded btn-lg btn-block h-100" href="/red" role="button">
                    <h3>RED</h3>
                </a>
            </div>

            <div class="row mb-60">
                <a class="btn blue rounded btn-lg btn-block h-100" href="/blue" role="button">
                    <h3>BLUE</h3>
                </a>
            </div>
            {% if count > 2 %}
            <div class="row mb-60">
                <a class="btn green rounded btn-lg btn-block h-100" href="/green" role="button">
                    <h3>GREEN</h3>
                </a>
            </div>
            {% endif %}
            {% if count > 3 %}
            <div class="row mb-60">
                <a class="btn yellow rounded btn-lg btn-block h-100" href="/yellow" role="button">
                    <h3>YELLOW</h3>
                </a>
            </div>
            {% endif %}
        </div>
    </section>

</body>

</html>