<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
        integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="content">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-3 text-center">
                    <div class="content">
                        <div class="box red"></div>
                        <h2 id="red points">-</h2>
                        <h2 id="red timer">-</h2>
                        <h2 id="red focus">-</h2>
                        <h2 id="red buzzed">-</h2>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div class="content">
                        <h2 id=>BLUE</h2>
                        <h2 id="blue points">-</h2>
                        <h2 id="blue timer">-</h2>
                        <h2 id="blue focus">-</h2>
                        <h2 id="blue buzzed">-</h2>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div class="content">
                        <h2 id=>GREEN</h2>
                        <h2 id="green points">-</h2>
                        <h2 id="green timer">-</h2>
                        <h2 id="green focus">-</h2>
                        <h2 id="green buzzed">-</h2>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div class="content">
                        <h2>YELLOW</h2>
                        <h2 id="yellow points">-</h2>
                        <h2 id="yellow timer">-</h2>
                        <h2 id="yellow focus">-</h2>
                        <h2 id="yellow buzzed">-</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"
        integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            const source = new EventSource("/live-data");
            const count = parseInt('{{ count }}');

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);

                // red
                document.getElementById("red points").innerHTML = data.RED.points;
                document.getElementById("red timer").innerHTML = data.RED.timer.toFixed(1);

                // blue
                document.getElementById("blue points").innerHTML = data.BLUE.points;
                document.getElementById("blue timer").innerHTML = data.BLUE.timer.toFixed(1);

                // green
                if (count > 2) {
                    document.getElementById("green points").innerHTML = data.GREEN.points;
                    document.getElementById("green timer").innerHTML = data.GREEN.timer.toFixed(1);
                }

                // yellow
                if (count > 3) {
                    document.getElementById("yellow points").innerHTML = data.YELLOW.points;
                    document.getElementById("yellow timer").innerHTML = data.YELLOW.timer.toFixed(1);
                }


            }
        });
    </script>
</body>

</html>